body {
    font-family: lora;
    color: #212529;
    background-image: linear-gradient(rgba(47,23,15,.65),rgba(47,23,15,.65)),url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    padding: 0 5%;
}

nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    background-color: rgba(47,23,15,.95);
}

nav a {
    text-decoration: none;
    color: #e6a756;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 0.4rem 0;
    font-family: sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
}

.btn-toggle {
    grid-column: 3;
    width: 2em;
    height: 1.9em;
    padding: 2px 5px;
    border: 0.7px solid white;
    border-color: rgba(255,255,255,.1);
    border-radius: 3px;
}

.btn-toggle div {
    width: 1.7em;
    height: 1.7em;
    cursor: pointer;
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

ul {
    grid-row: 2;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 1.1rem;
    color: rgba(255,255,255,.7);
    font-weight: 600;
    display: none;
}

li {
    padding: 0.6rem 0;
}

section {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.intro-img {
    max-width: 100%;
    margin-bottom: 1rem;
    border-radius: 3px;
}

.intro-text {
    background-color: rgba(255,255,255,.85);
    text-align: center;
    padding: 3rem;
    border-radius: 3px;
}

.section-heading-upper{
    display: block;
    font-size: 1rem;
    font-weight: 800;
    font-family: Raleway;
    text-transform: uppercase;
}

.section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100;
    font-family: Raleway;
    line-height: 1.2;
}

p {
    line-height: 1.75;
    margin-bottom: 1.5rem;
    margin-top: 0;
}

.intro-btn {
    display: inline-block;
    text-decoration: none;
    font-size: .8rem;
    font-weight: 800;
    color: white;
    cursor: pointer;
    background-color: #e6a756;
    border-radius: 5px;
    padding: 1.5rem 2rem;   
}
